  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
      
  
      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="mb-2 pb-1 mt-1 text-center">
          <div class="image">
            <img src="/img/logo.png" width="72px" height="92px" alt="User Image">
          </div>
          <p href="#" class="font-weight-bold text-white mt-2 h5">
            DISKOMINFO
            <span class="d-block">KOTA BANJARBARU</span>
          </p>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
              with font-awesome or any other icon font library -->
              <!-- Dashboard -->
              <li class="nav-item pt-2">
                <a href="/dashboard" class="nav-link active">
                  <i class="nav-icon fas fa-home"></i>
                  <p>Dashboard</p>
                </a>
              </li>
            <li class="nav-item menu-open">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-layer-group"></i>
                <p>
                  Data Master
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/biro" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Data Bidang Kegiatan</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/pembina" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Data Pembina</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/pembimbing" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Data Pembimbing</p>
                  </a>
                </li>
                <!-- <#% if (role === 'admin') { %>
                  <li class="nav-item">
                    <a href="/pembimbing" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Data User</p>
                    </a>
                  </li>
                <#% } %> -->
              </ul>
            </li>
            <!-- Gallery -->
            <li class="nav-item">
              <a href="/peserta" class="nav-link">
                <i class="nav-icon fas fa-graduation-cap"></i>
                <p>
                  Peserta Magang
                </p>
              </a>
            </li>
            <!-- Kanban Board -->
            <li class="nav-item">
              <a href="/sertifikat" class="nav-link">
                <i class="nav-icon fas fa-medal"></i>
                <p>
                  Sertifikat
                </p>
              </a>
            </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
  </aside>
