<table id="example1" class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>No.</th>
    <th>Nama Bidang Kegiatan</th>
    <% if (role === 'admin') { %>
    <th>Aksi</th>
    <% } %>
  </tr>
  </thead>
  <tbody>
    <% biro.forEach((e, i) => { i++ %>
      <tr>
        <td><%= i %></td>
        <td><%= e.name %></td>
        <% if (role === 'admin') { %>
          <td>
            <form action="/biro/delete/<%= e.id %>?_method=DELETE" method="post">
              <a href="/biro/edit/<%= e.id %>" class="btn btn-warning btn-sm">
                <i class="fas fa-pencil-alt"></i>
                Ubah
              </a>
              <button class="btn  btn-danger btn-sm">
                <i class="fas fa-trash-alt"></i>
                Hapus
              </button>
            </form>
          </td>
        <% } %>
      </tr>
    <% }) %>
  </tbody>
</table>